* {
  box-sizing: border-box;
}
.status {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  right: 10px;
  position: absolute;
}
h3 {
  padding: 0;
  margin: 0;
  font-style: italic;
  color:#777;
}

.grid {
  margin: 20px;
  display: inline-block;
  background: #555;
  padding: 5px 5px 8px 5px;
  border-radius: 4px;
}

.row {
  height: 30px;
  margin: 2px;
}

.row:first-child .pad {
  border-top: 1px solid #000;
}

.pad {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 2px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3) inset;
}

.colorpicker {
  width: 500px;
  height: 400px;
  display: inline-block;

}
.coloritem {
  border-bottom:1px solid #fff;
  border-left:1px solid #fff;
  margin: 1px;
  padding: 10px;
  display: inline-block;
}
.coloritem--selected {
  border:2px solid #000;
  margin: 0 1px;
}

.launchpad-sketch {
  max-width: 980px;
  margin: 0 auto;
}

.launchpad-sketch button {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #789;
}
